.Header {
    background-color: var(--background-primary);
    color: var(--text-primary);
    width: 100%;
    margin-top: 15px;
    margin-bottom: 2em;
    padding: 1em;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position:relative;

}



.Header h1 {
    font-family: 'Roboto Mono', monospace;
    font-size: 70px;
    font-weight: 600;
    margin: 0;
}
 
.Logo {
    position:fixed;
    left:2.5em;
}
